body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  direction: ltr;
  background-color: #d0dfec;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

li,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* box */

.box {
  width: 19rem;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  background-color: #fefefe;
  top: 10rem;
  position: relative;
  border-radius: 2rem;
}

/* image */

img {
  width: 17rem;
  left: 1rem;
  position: relative;
  border-radius: 10px;
  top: 1rem;
}

/* text */

.text {
  text-align: center;
}

p:first-child {
  top: 2rem;
  font-size: 22px;
  position: relative;
  font-weight: 700;
}

p:last-child {
  top: 2rem;
  font-size: 15px;
  position: relative;
  font-weight: 400;
}